/windows_includes
/external_libs
/libtensorflow*.tar.gz
/cmake*.tar.gz
/cmake*.sh
/third_party
/Debug
/Release
/checkpoints
/local
*.bkup
*.sw?

#cartpole.in_graph.info.txt
#cartpole.info.txt
#checkpoints
#cmake-3.13.0-rc3-Linux-x86_64.sh
#cmake-3.13.0-rc3.tar.gz
#debug.train.txt
#docker/
#external_libs.official/
#external_libs/
#libtensorflow-cpu-linux-x86_64-1.12.0.tar.gz
#libtensorflow.tar.gz
#local/
#model.load_model.trace_tf.txt
#model.rebuild_model.trace_tf.txt
#python/profiler/
#source_me.sh
#third_party/
#windows_includes/boost/
