CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
id_rsa*
ssh_config*
/third_party/
/Debug
/Release
/dockerfiles/dockerfiles/cpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/cpu.Dockerfile
/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/devel-cpu.Dockerfile
/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/devel-gpu.Dockerfile
/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/gpu.Dockerfile
/dockerfiles/requirements.txt
.bash_history

/local/
/local*
/build/
/build.docs/
/local.host/
/local.docker/
/build.host/
/build.docker/
/cmake-build-debug/
/output/
*.deb
*.tar.gz
*.sw?
/.idea
/.vscode
/.clangd
*.egg-info

# setup.sh
/cmake-*Linux*.sh
# /dockerfiles/deploy.sh
/dockerfiles/dockerfiles/devel-rlscope-gpu-cuda.Dockerfile
/dockerfiles/stack.yml
/dockerfiles/tensorflow:devel-rlscope-gpu-cuda.build.log.txt
/rlscope/protobuf/rlscope_prof_pb2.py
/rlscope/protobuf/pyprof_pb2.py
/rlscope/protobuf/unit_test_pb2.py
/rlscope.egg-info

# Protobuf
*_pb2.py
# Python wheel
*.whl
*.so

# Don't accidentally commmit C++ shared libraries / binaries / headers
/rlscope/cpp/**/*
