CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
id_rsa*
ssh_config*
/third_party/
/Debug
/Release
/dockerfiles/dockerfiles/cpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/cpu.Dockerfile
/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/devel-cpu.Dockerfile
/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/devel-gpu.Dockerfile
/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
/dockerfiles/dockerfiles/gpu.Dockerfile
/dockerfiles/requirements.txt
.bash_history
