#
# Requirements needed to launch a docker container.
#

# pip requirements needed to run the deploy.sh script for deploying the RL-Scope docker dev
# environment, described in the github wiki:
#   https://github.com/UofT-EcoSystem/rlscope/wiki/Dockerized-development-environment#deploying-the-iml-dev-environment
#
# To setup a virtualenv with requirements, and run deploy.sh, run this:
# $ cd ~/clone/rlscope
# $ virtualenv --python=/usr/bin/python3 venv
# $ source venv/bin/activate
# $ pip install -r requirements.deploy.txt
# $ ./deploy.sh
absl-py==0.6.1
Cerberus==1.3.1
docker==4.0.1
PyYAML==5.1
# Coloured logging.
colorlog>=4.2.1
