##
## RL-Scope distributable package requirements.
##

protobuf >= 3.6.1
numpy >= 1.13.3
psutil >= 5.6.2
# matplotlib >= 3.0.3
# Python 3.6 is required for matplotlib >= 3.1
# matplotlib < 3.1
# Leave it to the discretion of pip to choose compatible matplotlib version
matplotlib
pandas >= 0.24.2
progressbar2 >= 3.39.2
scipy >= 1.2.1
seaborn >= 0.9.0
tqdm >= 4.31.1
py-cpuinfo >= 4.0.0
# Luigi framework for DAG execution.
luigi >= 2.8.6
# datetime + timezones
pytz >= 2020.5
# Coloured logging.
colorlog >= 4.2.1

