#
# NOTE: this is identical to requirements found in setup.py.
# (please keep in sync)
#

protobuf >= 3.6.1
numpy >= 1.13.3
#
# NOTE: DONT explicitly depend on tensorflow, since we need a modified tensorflow library to run.
# Instead, EXPECT that it will get installed externally.
#
# tensorflow >= 1.3.1
psutil >= 5.6.2
# matplotlib >= 3.0.3
# Python 3.6 is required for matplotlib >= 3.1
matplotlib < 3.1
pandas >= 0.24.2
progressbar2>=3.39.2
scipy >= 1.2.1
seaborn >= 0.9.0
tqdm >= 4.31.1
py-cpuinfo == 4.0.0

# pip requirements needed to run the deploy.sh script for deploying the IML docker dev
# environment, described in the github wiki:
#   https://github.com/UofT-EcoSystem/iml/wiki/Dockerized-development-environment#deploying-the-iml-dev-environment
#
# To setup a virtualenv with requirements, and run deploy.sh, run this:
# $ cd ~/clone/iml
# $ virtualenv --python=/usr/bin/python3 ~/venv/iml
# $ source ~/venv/iml
# $ source ~/venv/iml/bin/activate
# $ pip install -r requirements.deploy.txt
# $ ./deploy.sh
absl-py==0.6.1
Cerberus==1.3.1
docker==4.0.1
PyYAML==5.1

# iml-analyze
psycopg2==2.7.7
luigi==2.8.6
# Debugger used for development
ipdb >= 0.12
# Debugger used for pytest
pdbpp >= 0.10.0
gym >= 0.13.0

numba==0.46.0

# Needed for TensorRT Python API.
pycuda>=2019.1.2

# Coloured logging.
colorlog>=4.2.1
